<nav class="js-menu sliding-panel-content is-visible">
  <ul>
    <li><%= link_to 'Accomplishments', acts_path %></li>
    <li><%= link_to 'Create New', new_act_path %></li>
    <li class='log-out'><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
  </ul>
</nav>
