@import "normalize";
@import "bourbon";
@import "base/base";
@import "neat";
@import 'selectize';
@import '../concepts/acts/form/styles';
@import '../concepts/acts/dashboard/card/styles';


main.container {
  padding-left: 250px;
  padding-right: 250px;
  height: 100%;
  overflow: auto;
  @include media(max-width 850px) {
    width: 100%;
    padding: 0;
  }
}
