@import "normalize";
@import "bourbon";
@import "base/base";
@import "neat";
@import 'selectize';
@import '../concepts/acts/form/styles';
@import '../concepts/acts/dashboard/styles';
@import '../concepts/acts/navbar/styles';


main.container {
  padding-left: 250px;
  height: 100%;
  overflow: auto;
  min-width: 700px;
}
