<%= cell('navbar/cell/show', nil) %>
<% if acts.any? %>
  <%= cell('acts/dashboard/card/cell/show', collection: acts) %>
<% else %>
  <div class='empty-state'>
    <div>
      You have no accomplishments to display. <%= link_to 'Create one now!', new_act_path %>
    </div>
  </div>
<% end %>
