<span><%= description %>.
  <% if challenges.present? %>
    <% challenges.each do |c| %>
      <span> <%= c.problem %>.</span>
    <% end %>
  <% end %>
  <% if benefits.present? %>
    <% benefits.each do |b| %>
      <span> <%= b.description %>.</span>
    <% end %>
  <% end %>
</span>
